<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4> add new Review</h4>
<%= simple_form_for [@restaurant, @review], class: "form-group" do |f| %>
  <%= f.input :content, placeholder: "your opinion", class: "form-control" %>
  <%= f.select :rating, (0..5).to_a, class: "form-control"  %>
  <br>
  <br>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
</div>
</div>

